<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %><small class='pull-right'>format–<%= select_tag 'format', options_for_select(@action.formats) %></small></h3>
  </div>
  <div class="panel-body">

    <% if parameters && parameters.any? %>
    <table class='table table-bordered table-condensed'>
      <tr class='strong'>
        <th>Parameter</th>
        <th>Value</th>
        <th><%= link_to 'disable all', '#', :class => 'disable-all-toggle' %></th>
        <th>Type</th>
        <th>Default</th>
        <th>Required</th>
        <th>Info</th>
      </tr>
      <% parameters.each do |p| %>
        <%= render :partial => 'easy_api_doc/documentation/parameter', :locals => {:parameter => p, form_prefix: form_prefix} %>
      <% end %>
    </table>
    <% end %>

  </div>
</div>